    <div id="mobile_nav_container" class="mobile-nav-container no-desktop">
        <div class="mobile-nav-wrapper">
            <ul class="mobile-nav-list">
                <li class="mobile-nav-link">
                    <a href="/collections/opbergen">OPBERGEN</a>
                    <span class="yellow-down-chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="5.81" viewbox="0 0 10.121 5.81">
                            <defs>
                                <style>
                                    .a-icon-down-yellow-chevron {
                                        fill: none;
                                        stroke: #fec23b;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-width: 1.5px;
                                    }
                                </style>
                            </defs>
                            <path class="a-icon-down-yellow-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152"
                                transform="translate(-7429.939 -3150.939)"></path>
                        </svg>
                    </span>
                </li>

                <li class="mobile-nav-link">
                    <a href="/collections/stickers">STICKERS</a>
                    <span class="yellow-down-chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="5.81" viewbox="0 0 10.121 5.81">
                            <defs>
                                <style>
                                    .a-icon-down-yellow-chevron {
                                        fill: none;
                                        stroke: #fec23b;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-width: 1.5px;
                                    }
                                </style>
                            </defs>
                            <path class="a-icon-down-yellow-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152"
                                transform="translate(-7429.939 -3150.939)"></path>
                        </svg>
                    </span>
                </li>

                <li class="mobile-nav-link">
                    <a href="/collections/versteviging">VERSTEVIGING</a>
                    <span class="yellow-down-chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="5.81" viewbox="0 0 10.121 5.81">
                            <defs>
                                <style>
                                    .a-icon-down-yellow-chevron {
                                        fill: none;
                                        stroke: #fec23b;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-width: 1.5px;
                                    }
                                </style>
                            </defs>
                            <path class="a-icon-down-yellow-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152"
                                transform="translate(-7429.939 -3150.939)"></path>
                        </svg>
                    </span>
                </li>

                <li class="mobile-nav-link">
                    <a href="/collections/berscherming">BERSCHERMING</a>
                    <span class="yellow-down-chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="5.81" viewbox="0 0 10.121 5.81">
                            <defs>
                                <style>
                                    .a-icon-down-yellow-chevron {
                                        fill: none;
                                        stroke: #fec23b;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-width: 1.5px;
                                    }
                                </style>
                            </defs>
                            <path class="a-icon-down-yellow-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152"
                                transform="translate(-7429.939 -3150.939)"></path>
                        </svg>
                    </span>
                </li>

                <li class="mobile-nav-link">
                    <a href="/collections/kleding">KLEDING</a>
                    <span class="yellow-down-chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="5.81" viewbox="0 0 10.121 5.81">
                            <defs>
                                <style>
                                    .a-icon-down-yellow-chevron {
                                        fill: none;
                                        stroke: #fec23b;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-width: 1.5px;
                                    }
                                </style>
                            </defs>
                            <path class="a-icon-down-yellow-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152"
                                transform="translate(-7429.939 -3150.939)"></path>
                        </svg>
                    </span>
                </li>

                <li class="mobile-nav-link">
                    <a href="/collections/decoratie">DECORATIE</a>
                    <span class="yellow-down-chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="5.81" viewbox="0 0 10.121 5.81">
                            <defs>
                                <style>
                                    .a-icon-down-yellow-chevron {
                                        fill: none;
                                        stroke: #fec23b;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-width: 1.5px;
                                    }
                                </style>
                            </defs>
                            <path class="a-icon-down-yellow-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152"
                                transform="translate(-7429.939 -3150.939)"></path>
                        </svg>
                    </span>
                </li>
            </ul>
            <ul class="mobile-nav-list-2">
                <li class="">
                    <a href="/pages/about-us">Ons verhaal</a>
                </li>
                <li class="">
                    <a href="/blogs/news">Blog</a>
                </li>
                <li class="">
                    <a href="/pages/contact-and-faq">Contact &amp; FAQ</a>
                </li>
            </ul>
            <ul class="mobile-nav-footer">
                <li class="customer-account">
                    <div class="user-icon">{% render 'icon-user' %}</div>
                    <div class="user-login-status">Aanmelden/registreren/Account</div>
                </li>
                <li class="mobile-nav-langs">
                    <span>NL</span>
                    <span>FR</span>
                    <span>EN</span>
                </li>
                <li class="mobile-nav-social-icons">
                    <span>{% render 'facebook' %}</span>
                    <span>{% render 'instagram' %}</span>
                </li>
            </ul>
        </div>
    </div>