    <div id="mobile_nav_container" class="mobile-nav-container no-desktop">
        <div class="mobile-nav-wrapper">
            <ul class="mobile-nav-list bold">
              {% for block in section.blocks %}
              {% for link in linklists[block.settings.nav_list_lower].links %}
              <li class="mobile-nav-link">
                <a href="{{link.url}}">{{link.title}}</a>
                <span class="yellow-down-chevron">
                  {% render 'icon-yellow-down-chevron' %}
                </span>
              </li>
              {% endfor %}
              {% endfor %}

            </ul>
            <ul class="mobile-nav-list-2 light">
              {% for block in section.blocks %}
              {% for link in linklists[block.settings.nav_list].links %}
              <li class="">
                <a href="{{link.url}}">{{link.title}}</a>
              </li>
              {% endfor %}
              {% endfor %}
            </ul>
            <ul class="mobile-nav-footer light">
                <li class="customer-account">
                    <div class="user-icon">{% render 'icon-user' %}</div>
                    <div class="user-login-status">Aanmelden/registreren/Account</div>
                </li>
                <li class="mobile-nav-langs">
                    <span>NL</span>
                    <span>FR</span>
                    <span>EN</span>
                </li>
                <li class="mobile-nav-social-icons">
                    <span>{% render 'facebook' %}</span>
                    <span>{% render 'instagram' %}</span>
                </li>
            </ul>
        </div>
    </div>