<div class="dropdown-container container">
  <div class="content-wrapper">
    <div class="left-wrap content-sub-list">
      <ul class="content-list">
        <li>Item 1 <img src="back-icon.svg" alt=""> </li>
        <li>Item 2 <img src="back-icon.svg" alt=""> </li>
        <li>Item 3 <img src="back-icon.svg" alt=""> </li>
        <li>Item 4 <img src="back-icon.svg" alt=""> </li>
        <li>Item 5 <img src="back-icon.svg" alt=""> </li>
        <li>Item 6 <img src="back-icon.svg" alt=""> </li>
        <li>Item 7 <img src="back-icon.svg" alt=""> </li>
      </ul>
    </div>

    <div class="drop-right-wrap">
      <div class="text-block">
        Klaar voor vertrek? Alles bij je voor de volgende prik? Glucosemeter, pomp, druivensuiker? Er wordt
        wel eens wat vergeten als we de deur uit moeten. Een handige diabetes tasje kan hierin het verschil
        maken.
        <p>Klaar voor vertrek? Alles bij je voor de volgende prik?Een handige diabetes tasje kan hierin het verschil
          maken.
        </p>
      </div>
      <div class="image-block">
        <img src="{{"blog.png" | asset_url }}" alt="">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
