<div class="article-product">
  <div class="product-image">
    <img src="12.jpg" alt="product Image" loading="lazy">
  </div>
  <div class="product-content">
    <div class="product-title">Freestyle Libre sensorhouder</div>
    <div class="product-variant">
      <span>Kleur: Paars</span>
    </div>
    <div class="product-price">€ 16,95</div>
    <div class="product-desc">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
      </p>
    </div>
    <div class="product-hover-text flex-box align-center">
      <span class="plus-icon">{% include 'icon-yellow-plus' %}</span>
      <a href="{{product.url}}" class="hover-text bold">KOPEN</a>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product with text",
    "settings": []
,
	"presets": [
    {
      "name": "Product with text"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
