{{ 'text-with-background.css' | asset_url | stylesheet_tag }}

{{template.name}}
<div class="text-background">
  <div class="back-btn">
    <a href="#">Terug</a> 
  </div>
  <div class="heading-container">
    {{section.settings.text}}
  </div>
</div>
<div class="container content-container">
  <div class="text-content">
    <div class="text-description">
      {{section.settings.description}}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Text with Background",
    "settings": [
		{
          "id": "text",
          "type": "text",
          "label": "Heading"
        },
		{
          "id": "description",
          "type": "html",
          "label": "Content"
        }
	
	],
	"presets": [
    {
      "name": "Text with Background"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
