.content-wrapper{
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  justify-content: space-around;
}

.background-overlay{
  position: relative!important;
   background-image: url({% include "article-bg" %});
  background-repeat: no-repeat;
  background-size: cover;
}

.back-btn{
  position: absolute;
  left: 52px;
  top: 23px;
  text-decoration: none;
  color: #000000;
}

.article-container {
  margin-bottom: 80px !important;
  display: flex;
  justify-content: center;
  
}

.article-image img{
    height: 512px;
    margin-top: 13px;
}

.time-and-date{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000000;
    font-family: Myriad Pro;
    font-weight: lighter;

}

.heading{

    font-size: 32px;
    font-weight: bold;
    margin: 26px 0 16px 0;
}

.author{
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.author-name{
    margin-left: 8px;
    font-family: Myriad Pro;
    font-weight: lighter; 
}
.author img{
    height: 52px;
    width: 52px;
    border-radius: 50%;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

