.welcomeheading{
  font: normal normal bold 16px/24px Roboto;
  letter-spacing: 0.8px;
  color: #000000;
  text-transform: uppercase;
  margin: 52px auto 80px 0;
}

.blog-text {
  width: 50%;
}

.date_and_time{
  font-family: Myraid Pro;
  font-size: 16px;
  font-weight: lighter;
  color: #000000;
}

.topic{
  color: #FEC23B;
  font-weight: bold;
  text-transform: uppercase;
}

.blogheading{
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  margin: 16px 0;
  max-width: 572px;
  text-align: left;
}

.blogdesc{
  font-weight: lighter;
  color: #000000;
  max-width: 572px;
  margin: 16px auto 52px 0;
}

.btn{
  color: #000000;
  background-color: #D9D9D9;
  padding: 20px 82px 16px 82px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor : pointer;
}

.featured-blog-post{
  display: flex;  
  flex-wrap : wrap;
  justify-content: space-around;
  padding-bottom:100px;
}

img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.blogs img{
  max-height:278px;
}

.blog-image-with-overlay{
  max-width: 572px;
}

.blog-filter-container{
  padding-bottom: 80px;
}

.filtered-blog-container {
  display: flex;
/*   justify-content: space-between; */
  flex-wrap: wrap;
}

.filter-pills {
  display: flex;
  justify-content: start;
  width: 100%;
}

.filter-pills span {
  padding: 14px 26px;
  border-radius: 26px;
  background-color: #fec23b33;
  margin: 0 10px;
  cursor:pointer;
}

.filter-pills .active {
  background-color: #fec23b;
}

.filter-pills span:nth-child(1) {
  margin-left: 0;
}

.blogs {
  margin: 13px 10px;
  max-width: 376px;
  width: calc(75% - 16px);
}

.blog_date_and_time {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 8px 0;
  font-weight: lighter;
  color: #000000;
}

.readmore a {
  color: #000000;
  font-weight: lighter;
}

.load-more-btn{
  margin-top: 50px;
  text-align: center;
}

.load-more{
  padding: 20px 89px 16px 89px;
  border-radius: 8px;
  border: none;
  background-color: #D9D9D9;
  cursor: pointer;
  text-align: center;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.load-more:hover{
  color: #CCCCCC;
  color: #000000;
}

.disp-no{
 display : none; 
}


@media screen and (max-width: 992px) {
  .blog-image-with-overlay.small{
  	display : block !important;
  }
  .blog-image-with-overlay{
  	display : none;
  }
}

@media screen and (max-width: 768px) {


}

