// Function for close the Cart
function openCart() {
  $(".cart-mask").fadeIn("slow");
  $(".cart-mask").addClass("active");
}
function toggleCart() {
  $(".cart-mask").fadeToggle("slow");
  $(".cart-mask").toggleClass("active");
}

// Function for close the Cart
function closeCart() {
  $(".cart-mask").fadeOut("slow");
  $(".cart-mask").removeClass("active");
}

$(document).keyup(function (e) {
  if (e.keyCode == 27) {
    closeCart();
  }
});

$(".cart-toggler, .cart-close").click(function(){
  toggleCart();
})

$(document).mouseup(function (e) {
  let cart = $('.cart-container');
  if ((!cart.is(e.target) // The target of the click isn't the container.
       && cart.has(e.target).length === 0)) // Nor a child element of the container
  {
    closeCart();
  }

});


//change the opacity of the element for eg. while updating an elements quantity in cart
function reduceOpacity(element_id){

  $(`#${element_id}`).animate({
    opacity: '0.3'
  }, 300);

}

function fullOpacity(element_id){

  $(`#${element_id}`).animate({
    opacity: '1'
  }, 300);

}

$('.qty-minus').click(function() {
  var data_qty = parseInt($(this).next().data('qty'));
  let variant_id = parseInt($(this).data('variant-id'));
  if( data_qty != 1 )
  {
    data_qty = data_qty - 1;
    $(this).next().data('qty', data_qty);
    $(this).next().html(data_qty);
    UpdateCart(variant_id);
  }else{
  	delete_item(variant_id);
  }
});

$('.qty-plus').click(function() {
  var data_qty = parseInt($(this).prev().data('qty'));
  let variant_id = parseInt($(this).data('variant-id'));
  data_qty = data_qty + 1;
  $(this).prev().data('qty', data_qty);
  $(this).prev().html(data_qty);
  UpdateCart(variant_id);
});



function refreshCart(cart) {
  let items = cart.items;
  let output = "";

  if (cart.item_count > 0) {
    output += `<div class="cart-list">`;
    for (var i = 0; i < items.length; i++) {
      let item = cart.items[i];
      output += `
        <div id="cart_item_${item.variant_id}" class="list-item ${i}">
          <a href="${item.url}" class="product-img">
            <img class="cart-item__image"
                src="${item.image}"
                alt="${item.product_title}"
                loading="lazy"
                width="75"
                height="75"
                >
          </a>
          <div class="product-info">
            <div class="product-name semibold"><a href="${item.url}">${item.product_title}</a></div>
            <div class="flex-box justify-between">
              <div class="product-variant">${item.variant_title != "Default Title" ? item.variant_title : null}</div>
              <div class="count">
                <span data-variant-id="${item.variant_id}" class="cart-minus-icon">-</span>
                <span id="item_count_${item.variant_id}" class="item-count-number">${item.quantity}</span>
                <span data-variant-id="${item.variant_id}" class="cart-plus-icon ">+</span>
              </div>
            </div>
            <div class="item-price">
              {% if item.variant.compare_at_price %}<span class="compare-at-price">{{ item.variant.compare_at_price | money }}</span>{% endif %}
              <span class="discount-price semibold">${item.price}</span>
            </div>
            <button data-variant-id="${item.variant_id}" class="remove-item">verwijderen <span class="dustbin">{% render 'icon-remove' %}</span></button>
          </div>
        </div>`;
    }

    output += `</div >`;
    output += `
    <div id="upsell_item_${current_variant.id}" class="upsell-container">
      <div class="upsell-heading semibold">Mensen kochten ook:</div>
      <div class="list-item">
        <a href="${upsell.url}" class="product-img">
          <img 
              src="${upsell.image}" 
              alt="${upsell.title}" 
              class="upsell-img" 
              loading="lazy"
              >
        </a>
        <div class="product-info">
          <div class="product-name semibold"><a href="${upsell.url}">${upsell.title}</a></div>
          <div class="flex-box justify-between">
            <div class="product-variant">${current_variant.title != "Default Title" ? current_variant.title : null}</div>
          </div>
          <div class="item-price flex-box justify-between">
            <div class="">
              ${current_variant.compare_at_price ? output += `<span class="compare-at-price"> ${current_variant.compare_at_price} </span>` : null}
              <span class="discount-price semibold">${current_variant.price}</span>
            </div>
            <button 
                    class="add-upsell-btn semibold AddToCart"
                    data-variant-id = "${current_variant.id}"
                    data-quantity = ""
                    > 
              <span class="plus-circle">+</span> 
              <span class="add-upsell-btn-text">Toevoegen</span> 
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="cart-footer">
      <div class="cart-calculation">
        <div class="flex-box justify-between">
          <div class="subtotal-label light">subtotal</div>
          <div id="sub_total_price" class="subtotal-price semibold">${cart.total_price / 100}</div>
        </div>
        <div class="flex-box justify-between">
          <div class="dispatch-label light">Verzending</div>
          <div class="dispatch-msg semibold">Berekend in volgende stap</div>
        </div>
      </div>
      <a href="/checkout" class="checkout-btn">checkout</a>
      <div class="text-center">
        <a href="/" class="continue-shop underline-link">Verder winkelen</a>
      </div>
    </div>`;
  } else {
    output += `
      <div class="cart-empty-state">
        <div class="empty-msg">
          <div class="empty-state-heading semibold">Er zit nog niets in je mandje</div>
          <div class="empty-state-img">
            {% render "icon-sad-outline" %}
          </div>
        </div>
        <div class="empty-state-links">
          <a href="#" class="empty-state-link">
            OPBERGEN
            <span class="">
              {% render "icon-yellow-down-chevron" %}
            </span>
          </a>
          <a href="#" class="empty-state-link">
            STICKERS
            <span class="">
              {% render "icon-yellow-down-chevron" %}
            </span>
          </a>
          <a href="#" class="btn btn-yellow category-btn">BEKIJK ALLE CATEGORIEËN</a>
        </div>
      </div>`;
  }
  $('#cart_container').html(output);
}





$("body").on('click', '.AddToCart', function () {
  let variant_id = parseInt($(this).data('variant-id'));
  let variant_quantity = $(this).data('quantity') != "" ? $(this).data('quantity') : $("#product_quantity");
  console.log(variant_id);
  let formData = {
    'items': [{
      'id': variant_id,
      'quantity': 1
    }]
  };

  $.ajax({
    url: "/cart/add.js",
    method: "POST",
    dataType: "json",
    data: formData,
  })
  .done(function (cart) {
    variant_id == upsell.id ? $("#cart_container .upsell-container").fadeOut('slow') : null;
    refreshCart(cart);
  })
  .fail(function (error) {
    console.log(error);
  });
  
});




function UpdateCart(variant_id){
  $("#cart_container").addClass("block-cursor");
  reduceOpacity(`cart_item_${variant_id}`);
  let update_quantity = $(`#item_count_${variant_id}`).data("qty");
//   let price = $(`#line_price_${update_id}`).data("price");

  if(update_quantity > 0){
    let update_data = {

      'id': parseInt(`${variant_id}`),
      'quantity': parseInt(`${update_quantity}`),

    }

    $.ajax({
      url:`/cart/change.js`,
      method: "POST",
      dataType: "json",
      data: update_data,

    }).done(function(data){

      console.log(data);
      $(`#item_count_${variant_id}`).text(update_quantity);
//       $('#sub_total').text(`€ ${data.total_price/100} EUR`);
//       $(`#line_price_${update_id}`).text(`€ ${(price*update_quantity)/100} EUR`);
//       cart_item_count(data);
      fullOpacity(`cart_item_${variant_id}`);
      $("#cart_container").removeClass("block-cursor");

    }).fail(function() {
      console.log( "failed to update" );

    });

  }
  else{

    delete_item(variant_id);
  }
}



function delete_item(variant_id){
  $("#cart_container").addClass("block-cursor");
  reduceOpacity(`cart_item_${variant_id}`);

  let delete_data = {
    'id': variant_id,
    'quantity': 0
  }


  $.ajax({
    url: `/cart/change.js`,
    method: "POST",
    dataType: "json",
    data: delete_data,
  })
  .done(function(data){
    console.log(data);
    $(`#cart_item_${variant_id}`).fadeOut('slow');
    variant_id == upsell.id ? $("#cart_container .upsell-container").fadeIn('slow') : null;
    $("#cart_container").removeClass("block-cursor");
  })
  .fail(function() {
    console.log( "failed to delete" );

  });

}


$("#cart_container").on( "click", ".remove-item", function() {
  let variant_id = parseInt($(this).data('variant-id'));
  delete_item(variant_id);
});