.collection-filter-right {
  width: 79%;
}

.collection-filter-wrapper .product-collection {
  /*   margin: 0 -.825%; */
  margin-bottom: 300px;
}

.collection-filter-wrapper .product-collection-card {
  width: 31.68%;
  margin: 0 .825% 16px;
}

.collection-banner-wrapper{
  margin-bottom: 52px;

}



.bg-gray-dots{
  right: -28px;
  top: 72px;
  position: absolute;
  z-index: -1;
}

.collection-banner {
  border: 4px solid var(--background-yellow);
    border-radius: 8px;
    position : relative;
    }

.border-bottom {
  border-bottom: 1px solid;
}

.sorting-wrapper{
  margin-bottom: 32px;
}

.sorting-part {
  width: 176px;
}

.collection-types{
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 16px;
  cursor: pointer;
}

.collection-tag {
  line-height: 24px;
  color: var(--background-grey);
    margin-bottom: 8px;
    margin-left: 16px;
    cursor: pointer;
    user-select : none;  
    }

.collection-tags {
  margin-bottom: 16px;
}


.range-slide {
  position: relative;
  height: 4px;
  margin-top:5px;
}

.slide {
  position: absolute;
  top: 0px;
  height: 8px;
  border-radius: 8px;
  background: var(--background-grey);
    left: 9px;
    right: 9px;
    }

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  display: block !important;
  background-color: #000;
}

.thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 2px solid;
  background-color: #FFFFFF;
  border-radius: 50%;
  outline: none;
  top: -4px;
  height: 16px;
  width: 16px;
  margin-left: -9px;
}


input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.display {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.out-of-range-min{
  display: none !important;
}

.out-of-range-max{
  display: none !important;
}

.filter-title.semibold {
  padding-bottom: 16px;
  border-bottom: 2px solid var(--background-yellow);
    margin-bottom: 16px;
    }

.price-filter-title-wrapper {
  padding-bottom: 16px;
}


.accordion.filter-accordion.active{
  border-bottom: none;
}

.down-chevron{
  transition: .4s ease;
}

.accordion.filter-accordion.active .down-chevron {
  transform: rotate(180deg);
}

.answer{
  line-height: 24px;
}

.panel-bottom-border{
  padding-bottom: 16px;
  /*   border-bottom: 2px solid var(--background-yellow); */
}

.yellow-border-bottom{
  display: block !important;
  border-bottom: 2px solid var(--background-yellow);
    margin-bottom: 16px;
    }

.sex-filter-title-wrapper {
  padding-bottom: 16px;
}

.check-box {
  width: 14px;
  display: inline-block;
  height: 14px;
  border: 1.5px solid var(--background-yellow);
    border-radius: 2px;
    }

.check-box-option{
  padding-left: 8px;
}

.check-box-wrapper {
  cursor: pointer;
  width: fit-content;
}

.product-title-price.flex-box.justify-between{

  flex-direction : column;
}

.underline-selected{
  text-decoration: underline;
  color: #737373;
  margin-left: 4px;
}

.underline-selected::before{
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  margin-right: 4px;
  border-radius: 7.5px;
  background-color: #FEC23B;
  border: 1px solid #FEC23B;
}

.active-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -1rem;
  grid-column: 1/span 2;
  grid-row: 2;
}


.active-facets__button:only-child {
  display: none;
}

a.active-facets__button {
  box-shadow: 0 0 0 .1rem var(--color-foreground);
    }

a.active-facets__button {
  color: var(--color-foreground);
    box-shadow: 0 0 0 .1rem var(--color-foreground);
      border-radius: 2.6rem;
      font-size: 1.2rem;
      min-height: 0;
      min-width: 0;
      padding: .5rem 1rem;
      margin: 0 0 1rem 1rem;
      }


.facets__wrapper , .mobile-facets__wrapper{
  display : none;
}

.select__select.collection-filters__sort , .select__select option{
  font-family: 'Myriad Pro';
  font-size: 16px;
  color: #000000; 
  opacity:.7;
}

.product_count_sort{
  font-family: 'Myriad Pro';
  font-size: 16px;
  color: #000;
  opacity: .7;
}


.slidecontainer {
  width: 100%;
  padding:5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 8px;
  background: black;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border:3px solid black;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border:1px solid white;
}

.display_range{
  display: flex;
  justify-content: space-between;
}

.disp-no , .filter-toggler{
  display : none;
}

.filter-mask{
  width : 19%;
}

@media screen and (max-width: 992px) {
  .collection-filter-left , .collection-filter-right, .filter-mask{
    width : 100%;
  }
  .collection-filter.flex-box{
    flex-direction : column;
  }
  .collection-filter.flex-box .panel{
    max-height : 100%;
  }
  .collection-filter.flex-box .down-chevron{
    display : none;
  }
  .filter-tags{
    display : none;
  }
  .filter-tags.small{
    display: flex;
    padding: 25px;
    border-top: 2px solid #FEC23B;
  }
  .current{
    font-weight: 700;
    text-decoration: underline;
    color : #000000 !important;
    text-decoration-color: #FEC23B;
  }
  .active-collection-tags{
    margin-left: 40px;
  }
  .all-collection-title svg{
    transform: rotate(
      270deg);
    width: 15px;
    height: 10px;

  }
  .collection-types{
    color: #D9D9D9;
  }
  .collection-types svg .chevron-a{
    stroke : #D9D9D9;
  }

  .collection-types.current svg .chevron-a{
    stroke : #FEC23B;
  }
  .filter-title.semibold{
  	padding-left : 25px;
  }
  .sex-filter-title-wrapper , .collection-filter.flex-box .panel{
    padding: 0 25px;
  }
}

@media screen and (max-width: 768px) {
  .collection-filter-left{
    position: fixed;
    max-height: calc(100% - 90.8px);
    background: #fff;
    top: 100%;
    transition: top .3s ease;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  .filter-mask.active .collection-filter-left{
    top: 0;
    overflow-y: scroll;
  }
  .filter-mask.active .collection-filter-left::-webkit-scrollbar {
    display: none;
  }

  .filter-toggler{
  }
  .collection-banner-wrapper{
    display : none;
  }
  .filter-toggler{
    display : block; 
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    padding: 28px 108px;
    border: 3px solid #FEC23B;
    left: 0;
    z-index : 6;
    border-radius: 8px 8px 0 0;
  }
  .filter-mask{
    display : none;
  }

}
