.collection-filter-right {
    width: 79%;
}

.collection-filter-left{
	width: 19%;
}

.collection-filter-wrapper .product-collection {
    margin: 0 -.825%;
}

.collection-filter-wrapper .product-collection-card {
    width: 31.68%;
    margin: 0 .825% 16px;
}

.collection-banner-wrapper{
	margin-bottom: 52px;
}

.collection-banner {
    border: 4px solid var(--background-yellow);
    border-radius: 8px;
}

.border-bottom {
	border-bottom: 1px solid;
}

.sorting-wrapper{
	margin-bottom: 32px;
}

.sorting-part {
	width: 176px;
}

.collection-types{
	line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 16px;
  cursor: pointer;
}

.collection-tag {
    line-height: 24px;
    color: var(--background-grey);
    margin-bottom: 8px;
    margin-left: 16px;
      cursor: pointer;
}

.collection-tags {
    margin-bottom: 16px;
}


.range-slide {
  position: relative;
  height: 4px;
}

.slide {
  position: absolute;
    top: 0px;
    height: 8px;
    border-radius: 8px;
    background: var(--background-grey);
    left: 9px;
    right: 9px;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  display: block !important;
  background-color: #000;
}

.thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 2px solid;
  background-color: #FFFFFF;
  border-radius: 50%;
  outline: none;
  top: -4px;
  height: 16px;
  width: 16px;
  margin-left: -9px;
}

input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.display {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.out-of-range-min{
	display: none !important;
}

.out-of-range-max{
	display: none !important;
}

.filter-title.semibold {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--background-yellow);
    margin-bottom: 16px;
}

.price-filter-title-wrapper {
    padding-bottom: 16px;
}


.accordion.filter-accordion.active{
	border-bottom: none;
}

.down-chevron{
	transition: .4s ease;
}

.accordion.filter-accordion.active .down-chevron {
    transform: rotate(180deg);
}

.answer{
	line-height: 24px;
}

.panel-bottom-border{
	padding-bottom: 16px;
/*   border-bottom: 2px solid var(--background-yellow); */
}

.yellow-border-bottom{
  display: block !important;
	border-bottom: 2px solid var(--background-yellow);
      margin-bottom: 16px;
}

.sex-filter-title-wrapper {
    padding-bottom: 16px;
}

.check-box {
    width: 14px;
    display: inline-block;
    height: 14px;
    border: 1.5px solid var(--background-yellow);
    border-radius: 2px;
}

.check-box-option{
	padding-left: 8px;
}

.check-box-wrapper {
    cursor: pointer;
    width: fit-content;
}

