.shopify-payment-button__button--branded {
  display: none !important;
}

.shopify-payment-button__more-options {
  display: none !important;
}

#smart-button-container {
  display: none !important;
}

#paypal-button-container {
  display: none !important;
}
