h2.featured-collection-heading {
  margin: 0;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.featured-collection-desc.semibold {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 26px;
}

.featured-product-card {
  width: 32%;
}

.featured-product-img{
  height: 278px;
  margin-bottom: 16px;
  overflow : hidden;
}

.featured-product-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.product-title.semibold {
  line-height: 24px;
}

.compare-to-price {
  color: #737373;
  text-decoration: line-through;
  line-height: 24px;
}

.featured-product-link{
  color: #737373;
  text-decoration: underline;
  font-style: italic;
}

.featured-products {
  margin-bottom: 52px;
}

.featured-collection-wrapper {
  margin-bottom: 172px;
}

.featured-collection-wrapper.medium{
	margin-top: 136px;
}

.featured-collection-wrapper.big{
  margin-top: 186px;
}

.featured-collection-wrapper .btn{
  padding: 20px 112px 16px;
}

.fp-hover-text{
  position: absolute;
  bottom: 26px;
  left: 16px;
  background-color: #fff;
  border-radius: 50px;
  transition: .4s ease;
  cursor: pointer;
  overflow: hidden;
  max-width: 48px;
  max-height: 48px;
}

.plus-icon {
  width: 48px;
  height: 48px;
  display: block;
  transition: .4s ease;
}

.plus-icon svg {
  width: 48px;
  height: 48px;
}

.fp-hover-text:hover .plus-icon{
  transform: rotate(225deg);
}

.fp-hover-text:hover .hover-text {
  max-width: 100%;
}

.fp-hover-text:hover {
  max-width: unset;
}

@media screen and (max-width: 992px) {
  .featured-collection-wrapper{
    margin-bottom : 82px;
  }
  
  .featured-collection-wrapper.medium {
    margin-top: 82px;
}
  
  .hover-text {
    max-width: 100%;
}
  
  .fp-hover-text {
    max-width: unset !important;
}
}


@media screen and (max-width: 768px) {
  .featured-products.flex-box{
    flex-wrap : wrap;
    margin-bottom: 0px;
  }
  .featured-product-card{
    width : 100%;
    margin-bottom : 52px;
  }

  h2.featured-collection-heading{
    font-size : 24px;
  }
  .featured-collection-desc.semibold{
    font-size : 16px;
    font-weight : 300;
  }
  .featured-collection-wrapper .btn{
    padding: 20px 67px 16px;
  }
  .product-title-price.flex-box{
    flex-direction: column;
  }
  .featured-product-img{
    height : auto;
  }
}

