.header-anouncement{
  background-color: var(--background-yellow);
    padding: 7px 0 5px;
    }
#header-anouncement-close {
  margin-left: 12px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.header-wrapper{
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px #ccc2af33;
  padding-top: 26px;
  margin-bottom: 52px;
}

.right-nav-upper {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.right-nav-upper li{
  display: inline-block;
  margin-left: 26px;
}

.right-nav-upper .dropdown{
  color: #737373;
}

nav .dropdown {
  position: relative;
}

.header-nav-list-sub {
  display: block;
  border: 0;
  position: absolute;
  left: 0;
  z-index: 1;
  width: min-content;
  min-width: 50px;
  text-align: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  transition-delay: 0s;
  max-height: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  opacity: 0;
}

.login-wrapper.header-nav-list-sub {
    right: 0;
    left: auto;
}

.header-nav-list-sub li{
  display: block;
}

nav .dropdown:hover .header-nav-list-sub {
  max-height: 999px;
  opacity: 1;
}

.right-wrap{
	width: 100%;
  text-align: right;
      z-index: 1;

}

.right-nav-lower{
	width: 100%;
}

.right-nav-lower li{
	display: inline-block;
  	letter-spacing: 0.8px;
      font-size: 16px;
  	line-height: 24px;
  	padding-bottom: 10px;
}

.yellow-down-chevron {
    display: inline-block;
  transition: .4s ease;
  margin-left: 4px;
}

.right-nav-lower li:hover{
	border-bottom: 2px solid #FEC23B;
}

.right-nav-lower li:hover .yellow-down-chevron{
	transform: rotate(180deg);
}

.yellow-down-chevron svg{
	height: 16px;
  padding-top: 5px;
}

