.header-anouncement{
  background-color: var(--background-yellow);
    padding: 7px 0 5px;
    
    }
#header-anouncement-close {
  margin-left: 12px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.header-wrapper{
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px #ccc2af33;
  padding-top: 26px;
}

.header-wrapper.mb{
    margin-bottom: 52px;
}

.menu-btn {
  height: 24px;
  display: flex;
  width: 36px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transform: scale(.8);
}

.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color:#737373;
  border-radius: 10px;
  transform-origin: left;
  transition: all .5s ease;
}

.menu-btn.active span:nth-child(1) {
  transform: rotate( 45deg) translateY(-3.5px);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
  transform: rotateY( 90deg);
  transform-origin: center;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate( -45deg) translateY(3.5px);
}


.right-nav-upper {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.right-nav-upper li{
  display: inline-block;
  margin-left: 26px;
}

.right-nav-upper .dropdown, .right-nav-upper .dropdown a {
  color: #737373;
}

nav .dropdown {
  position: relative;
}

.header-nav-list-sub, .login-wrapper {
  display: block;
  border: 0;
  position: absolute;
  left: -25px;
  z-index: 1;
  width: min-content;
  min-width: 50px;
  text-align: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  transition-delay: 0s;
  max-height: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  opacity: 0;
}

.header-nav-list-sub{
  z-index: 2;
}

.header-nav-list-sub li{
  display: block;
}

nav .dropdown:hover .header-nav-list-sub, .login-wrapper.active {
  max-height: 999px;
  opacity: 1;
}

nav .dropdown.lang:hover svg{
transform: rotate(180deg);
}

.right-wrap{
  width: 100%;
  text-align: right;
  z-index: 1;

}

.right-nav-lower{
  width: 100%;
}

.right-nav-lower li{
  display: inline-block;
  letter-spacing: 0.8px;
  font-size: 16px;
  /*   line-height: 24px;
  padding-bottom: 10px; */
  border-bottom: 2px solid transparent;
}

.yellow-down-chevron {
  display: inline-block;
  transition: .4s ease;
  margin-left: 4px;
}

.hover-dropdown.right-nav-list:hover{
  border-bottom: 2px solid #FEC23B;
}

.content-list li:hover .chevron-a{
  stroke : #FEC23B;
}
.content-list li:hover svg{
 transform: rotate(
270deg) translateY(3px);
}


.hover-dropdown:hover .yellow-down-chevron{
  transform: rotate(180deg);
}

.yellow-down-chevron svg{
  height: 16px;
  padding-top: 5px;
}
.cart-toggler{
  cursor:pointer;
}

.cart-item-count{
  position: absolute;
  width: 16px;
  height: 16px;
  top: -2px;
  right: -4px;
  background-color: #FEC23B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}
/* --------------------- header login form------------------------------ */
.user-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #FEC23B;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
}

.logout-btn {
  display: block;
  text-align: right;
  color: #737373;
}

.account-btn {
  cursor: pointer;
} 

.icon-grey-down-chevron{
  transition: all .3s ease;
}

.account-btn.active .icon-grey-down-chevron{
  transform: rotate(180deg);
}

.login-wrapper {
  box-shadow: 0px 4px 16px #0000001a;
  border-radius: 4px;
  padding: 16px;
  font-size: 12px;
  min-width: 278px;
  right: 0;
  left: auto;
}

.login-form input::placeholder, .login-page input::placeholder, .login-form input, .login-page input {
  font-weight: 300;
  color: #737373;
  font-size: 16px;
}


.login-form input, .login-page input{
  border: 1px solid #FEC23B;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.input_form_control {
  position: relative;
}

.view-password {
  position: absolute;
  right: 10px;
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
  bottom: 5px;
}

.forgot-password {
  font-weight: normal;
  text-align: right;
  text-decoration: underline;
  line-height: normal;
  margin: 4px 0 16px 0;
  display: block;
  color: inherit;
}

.login-btn {
  outline: none;
  border: 0;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  font: normal normal bold 16px/24px 'Roboto', sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.register-btn {
  font-weight: 400;
  text-decoration: underline;
  line-height: normal;
  font-size: 12px;
  margin-top: 8px;
  display: block;
  color: inherit;
}
/* --------------------- LOGIN PAGE FORM ------------------------------ */
.customer-login-wrapper {
  padding: 5rem 0 10rem 0;
  background-color: #FEC23B33;
  height: 75vh;
  display: flex;
  align-items: center;
}

.customer-login-wrapper > .container{
  max-width:540px;
}

.login-header {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.customer-login-form-wrapper {
  color: #737373;
}

.login-page label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  display: block;
}

.login-page input {
  border-width: 2px;
  margin: 8px 0 16px 0;
}

.login-page .view-password{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.forgot-password {
  font-size: 12px;
  display: block;
  font-weight: 100;
  text-align: right;
}


.hover-wrapper{
  position: absolute;

  width :100%;
}

.dropdown-container{
  width: 100%;
  background: #EBEBEB 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 16px #CCC2AF33;
  border-radius: 16px;
  user-select: none;
  z-index:3;
}

.dropdown-container.container{
  padding:0;
  top: 30px;
  display : none;

}

.hover-content-wrapper{
  padding: 26px;
  display: flex;
  gap: 35px;
  justify-content: space-between;
}

.content-list{
  list-style: none;
  display: flex;
  flex-direction : column;
  margin: 0;
  padding: 0;
  gap:13px;
}

.content-list li{
  text-align: left;
  font: normal normal bold 16px/24px Myriad Pro;
  letter-spacing: 0.8px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.content-list li svg{
  transform: rotate(270deg);
}

.content-list li:nth-child(1){
  margin-top: 0;
}

.text-block{
  max-width: 278px;
  text-align: left;
  font: normal normal normal 16px/24px Myriad Pro;
  letter-spacing: 0px;
  color: #000000;
}

.image-block{
  padding-left: 16px;
}

.image-block img {
  max-width: 278px;
  object-fit: cover;
  display: block;
}

.drop-right-wrap{
  display: flex;
  justify-content: end;
}



.dropdown-ul{
  position : relative;
}

.hover-dropdown:hover .hover-wrapper{
  padding-top: 20px;
}

.hover-dropdown:hover .dropdown-container {
  display : block;
}


@media screen and (max-width: 991px) {
  .header-wrapper{
    padding-top: 0;
    margin-bottom: 16px;
    line-height: normal;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 10;
  }

  .left-wrap {
    transform: scale(.6);
  }

  .right-wrap {
    width: auto;
  }

  .right-nav-upper{
    margin-bottom: 0;
  }

  .header-nav-list {
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }

  .header-nav-list-sub li {
    padding: 0 16px;
  }
  
  .header-nav-list-sub{
  left: -16px;
  }

  .right-nav-upper li {
    margin-left: 0;
  }


  /* ======================= MOBILE NAV=============================== */

  .mobile-nav-container {
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    left: 0;
    bottom: -76.4px;
    transform: translateX(-100%);
    transition: transform .35s cubic-bezier(.46, .01, .32, 1);
  }

  .mobile-nav-container.open-nav {
    display: block;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .mobile-nav-wrapper {
    padding: 16px 36px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .mobile-nav-list, .mobile-nav-list-2, .mobile-nav-footer {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .mobile-nav-link .yellow-down-chevron{
    margin:0;
  }

  .mobile-nav-link svg {
    transform: rotate(270deg);
    width: 12px;
    height: 12px;
    padding: 0;
  }

  .mobile-nav-langs .active {
    font-weight: 700;
    text-decoration: underline;
  }

  .user-icon .a-icon-user {
    stroke: #000000;
  }

  .customer-account, .mobile-nav-langs, .mobile-nav-social-icons {
    display: flex;
    gap: 16px;
  }

}

