.header-anouncement{
  background-color: var(--background-yellow);
    padding: 7px 0 5px;
    }
#header-anouncement-close {
  margin-left: 12px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.header-wrapper{
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px #ccc2af33;
  padding-top: 26px;
}

.header-wrapper.mb{
  margin-bottom: 52px;
}

.right-nav-upper {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.right-nav-upper li{
  display: inline-block;
  margin-left: 26px;
}

.right-nav-upper .dropdown{
  color: #737373;
}

nav .dropdown {
  position: relative;
}

.header-nav-list-sub, .login-wrapper {
  display: block;
  border: 0;
  position: absolute;
  left: -25px;
  z-index: 1;
  width: min-content;
  min-width: 50px;
  text-align: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  transition-delay: 0s;
  max-height: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  opacity: 0;
}

.header-nav-list-sub{
  z-index: 2;
}

.header-nav-list-sub li{
  display: block;
}

nav .dropdown:hover .header-nav-list-sub, .login-wrapper.active {
  max-height: 999px;
  opacity: 1;
}

.right-wrap{
  width: 100%;
  text-align: right;
  z-index: 1;

}

.right-nav-lower{
  width: 100%;
}

.right-nav-lower li{
  display: inline-block;
  letter-spacing: 0.8px;
  font-size: 16px;
  /*   line-height: 24px;
  padding-bottom: 10px; */
}

.yellow-down-chevron {
  display: inline-block;
  transition: .4s ease;
  margin-left: 4px;
}

.right-nav-lower .right-nav-list:hover{
  border-bottom: 2px solid #FEC23B;
}

.content-list li:hover .chevron-a{
  stroke : #FEC23B;
}
.content-list li:hover svg{
  margin-left: 3px;
}


.right-nav-lower li:hover .yellow-down-chevron{
  transform: rotate(180deg);
}

.yellow-down-chevron svg{
  height: 16px;
  padding-top: 5px;
}
.cart-toggler{
cursor:pointer;
}

.cart-item-count{
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    right: -4px;
    background-color: #FEC23B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}
/* --------------------- header login form------------------------------ */
.account-btn {
  cursor: pointer;
} 

.icon-grey-down-chevron{
  transition: all .3s ease;
}

.account-btn.active .icon-grey-down-chevron{
  transform: rotate(180deg);
}

.login-wrapper {
  box-shadow: 0px 4px 16px #0000001a;
  border-radius: 4px;
  padding: 16px;
  font-size: 12px;
  min-width: 278px;
  right: 0;
  left: auto;
}

.login-form input {
  border: 1px solid #FEC23B;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 8px;
}
.input_form_control {
  position: relative;
}

.view-password {
  position: absolute;
  right: 10px;
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
  bottom: 5px;
}

.forgot-password {
  font-weight: normal;
  text-align: right;
  text-decoration: underline;
  line-height: normal;
  margin: 4px 0 16px 0;
  display: block;
  color: inherit;
}

.login-btn {
  outline: none;
  border: 0;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  font: normal normal bold 16px/24px 'Roboto', sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.register-btn {
  font-weight: 400;
  text-decoration: underline;
  line-height: normal;
  font-size: 12px;
  margin-top: 8px;
  display: block;
  color: inherit;
}

.hover-wrapper{
  top: 20px;
  position: absolute;
  padding-top: 20px;
  width: 100%;
  cursor: pointer;
}

.dropdown-container{
  width: 100%;
  background: #EBEBEB 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 16px #CCC2AF33;
  border-radius: 16px;
  cursor : pointer;
  z-index:3;
}

.dropdown-container.container{
  padding:0;
  top: 30px;
  display : none;

}

.hover-content-wrapper{
  padding: 26px;
  display: flex;
  justify-content: space-between;
}

.content-list{
  list-style: none;
  display: flex;
  flex-direction : column;
  margin: 0;
  padding: 0;
  gap:13px;
}

.content-list li{
  text-align: left;
  font: normal normal bold 16px/24px Myriad Pro;
  letter-spacing: 0.8px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.content-list li svg{
  transform: rotate(270deg);
}

.content-list li:nth-child(1){
  margin-top: 0;
}

.text-block{
  max-width: 278px;
  text-align: left;
  font: normal normal normal 16px/24px Myriad Pro;
  letter-spacing: 0px;
  color: #000000;
}

.image-block{
  padding-left: 16px;
}

.image-block img {
  max-width: 278px;
  object-fit: cover;
  display: block;
}

.drop-right-wrap{
  display: flex;
  justify-content: end;
}



.dropdown-ul{
  position : relative;
}

.hover-ul:hover #nav-sub-drop {
  display : block;
}