.hero-new-wrapper {
  margin-bottom: 152px;
/*   height: 66.66666666666667vw; */
  width: 100%;
/*   max-height: 100vh; */
}

.hero-left, .hero-right {
  width: 49%;
}

.hero-left img{
  width: 100%;
  display: block;
  border-radius: 8px;
}

.dots-left-down{
  bottom: -32px;
  left: -46px;
}

.text-over-hero.bold {
  text-transform: uppercase;
  line-height: 24px;
  position: absolute;
  top: 52px;
  left: 0;
  background-color: var(--background-yellow);
    padding: 20.5px 26px 15.5px;
    letter-spacing: 0.8px;
    border-radius: 0 8px 8px 0;
    }

.hero-right {
  flex-wrap: wrap;
}

.hero-other-img {
  width: 48%;
  margin-bottom: 16px;
}

.hero-other-img img{
  width: 100%;
  border-radius: 8px;
}

.hero-hover-text {
  position: absolute;
  bottom: 26px;
  left: 16px;
  background-color: #FFF;
  border-radius: 50px;
  transition: .4s ease;
  cursor: pointer;
  overflow: hidden;
  max-width: 48px;
  max-height: 48px;
}

.plus-icon {
  width: 48px;
  height: 48px;
  display: block;
  transition: .4s ease;
}

.hero-hover-text:hover {
  max-width: unset;
}

.hero-hover-text:hover .plus-icon{
  transform: rotate(225deg);
}

.plus-icon svg{
  width: 48px;
  height: 48px;
}

.hover-text {
  padding: 2px 16px 0 0;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.8px;
  max-width: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.hero-hover-text:hover .hover-text {
  max-width: 100%;
}

.hero-new-wrapper .btn{
  margin-right: 0;
  margin-left: auto;
  margin-top: 10px;
}