.hero-new-wrapper {
  margin-bottom: 152px;
  /*   height: 66.66666666666667vw; */
  width: 100%;
  /*   max-height: 100vh; */
}

.hero-left, .hero-right {
  width: 49%;
}

.hero-left img{
  width: 100%;
  display: block;
  border-radius: 8px;
}

.hero-left .dots-left-down{
  bottom: -32px;
  left: -46px;
}

.text-over-hero.bold {
  text-transform: uppercase;
  line-height: 24px;
  position: absolute;
  overflow-x: hidden;
  top: 52px;
  left: 0;
  background-color: var(--background-yellow);
    padding: 20.5px 26px 15.5px;
    letter-spacing: 0.8px;
    border-radius: 0 8px 8px 0;
    }

.hero-right {
  flex-wrap: wrap;
}

.hero-other-img {
  width: 48%;
  margin-bottom: 16px;
}

.hero-other-img img{
  width: 100%;
  border-radius: 8px;
}

.hero-hover-text {
  position: absolute;
  bottom: 26px;
  left: 16px;
  background-color: #FFF;
  border-radius: 50px;
  transition: .4s ease;
  cursor: pointer;
  overflow: hidden;
  max-width: 48px;
  max-height: 48px;
}

.plus-icon {
  width: 48px;
  height: 48px;
  display: block;
  transition: .4s ease;
}

.hero-hover-text:hover {
  max-width: unset;
}

.hero-hover-text:hover .plus-icon{
  transform: rotate(225deg);
}

.plus-icon svg{
  width: 48px;
  height: 48px;
}

.hover-text {
  padding: 2px 16px 0 0;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.8px;
  max-width: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.hero-hover-text:hover .hover-text {
  max-width: 100%;
}

.hero-new-wrapper .btn{
  margin-right: 0;
  margin-left: auto;
  margin-top: 10px;
}

/* @media screen and (max-width: 992px) {


} */

@media screen and (max-width: 992px) {
    .hero-new-wrapper{
    margin-bottom : 82px;
  }
  
  .hero.flex-box{
    flex-wrap : wrap;
  }
  .hero-new-wrapper .btn{
    margin : 0 auto;
  }
  .text-over-hero.bold{
    max-width : 100%;
    padding: 9.5px 0px 8.5px;
    position :relative;
    width : 100%;
    background-color:#FEC23B;
    border-radius: 0 0 8px 8px;
    box-shadow:0px 3px  #33270C1A; 
    text-align : center;
    top : 0;
  }
  .text-over-hero.bold.new{
  	background-color : #fff;
    font-size: 16px;
    max-width : 100%;
  }
  .hero-left img{
    border-radius: 8px 8px 0 0;
  }
  
  .hero-other-img img {
    border-radius: 8px 8px 0 0;
    display: block;
}
  
  .hero-link-mob.no-d {
    display: block;
    background-color: #fff;
    font-size: 16px;
    width: 100%;
    padding: 9.5px 0 8.5px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 3px #33270c1a;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.8px;
}
}