.image-with-text {
    margin-bottom: 220px;
}

.image-with-text-grid-item{
	width: 48%;
}

.bg-yellow-dots{
	position: absolute;
  z-index: -1;
}

.dots-right-down{
	bottom: -60px;
    right: -50px;
}

.pt{
	padding-top : 52px;
}

.dots-left-down{
	bottom: -36px;
    left: -47px;
}

h2.image-with-text-heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 26px;
}

.image-with-text-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  	margin-bottom: 52px;
}

.image-with-text-text p{
	margin: 0;
  	margin-bottom: 26px;
}

.text-over-img{
	position: absolute;
    background-color: #fff;
    width: 40%;
    text-align: center;
    padding: 15.5px 0;
    border-radius: 0 8px 8px 0;
    max-height: 52px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    bottom: 52px;
    top: unset;
    left: 0;
    right: unset;
}

.img-with-text-img{
	width: 100%;
  	height: 572px;
}

.img-with-text-img img{
	width:100%;
  height: 100%;
  border-radius: 8px;
}