* {
  outline: none !important;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Myriad Pro', sans-serif;
  color: var(--font-main-color);
    overflow-x: hidden;
    }
.container {
  display: block;
  width: 100%;
  max-width: 1246px;
  padding: 0 25px;
  margin: 0 auto;
}
.no-disp{
  display: none !important;
}
.rel {
  position: relative !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-between {
  justify-content: space-between !important;
}
.align-center{
  align-items: center;
}
.center-it {
  display: block !important;
  margin: 0 auto !important;
}
.flex-box{
  display: flex;
}
.bold{
  font-weight: 700;
}
.semibold{
  font-weight: 600;
}
.light{
  font-weight: 300;
  opacity:1;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--font-main-color);
    }
.btn {
  padding: 20px 63px 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
  border-radius: 8px;
  transition: .4s ease;
  display: block;
  width: fit-content;
  cursor: pointer;
  font-family: 'Myriad Pro',sans-serif;
}

.btn-grey{
  background-color: var(--background-grey);
    }

.btn-grey:hover{
  background-color: #CCCCCC;
}

.btn-yellow{
  background-color: var(--background-yellow);
    }

.btn-yellow:hover{
  background-color: #FEB029;
}
.accordion{
  cursor: pointer;
}
.panel{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.half-opacity{
  opacity: 50%;
}
.yellow-text{
  color: var(--text-yellow);
    }
.raw-reverse{
  flex-direction: row-reverse;
}

.fp-hover-text:hover .hover-text, .hero-hover-text:hover .hover-text{
  font-size: inherit;
}

.section-heading{
  font: normal normal bold 32px/48px Myriad Pro;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}

.w-100{
  width:100%;
}


.hover-text {
  padding: 2px 16px 0 0;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: .8px;
  max-width: 0;
  -webkit-transition: font-size .8s ease;
  transition: font-size .4s ease;
  font-size: 0;
}

.fp-hover-text:hover .hover-text, .hero-hover-text:hover .hover-text , .product-hover-text:hover .hover-text {

  font-size: inherit;
}

.hero-hover-text:hover .hover-text , .product-hover-text:hover .hover-text{
  max-width: 100%;
}


.hero-hover-text:hover , .product-hover-text:hover {
  max-width: unset;
}

.hero-hover-text {
  position: absolute;
  bottom: 26px;
  left: 16px;
  background-color: #fff;
  border-radius: 50px;
  transition: .4s ease;
  cursor: pointer;
  overflow: hidden;
  max-width: 48px;
  max-height: 48px;
}

.go-up {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #FEC23B;
  position: fixed;
  bottom: 100px;
  right: 20px;
  cursor: pointer;
}

.go-up svg {
  width: 16px;
  height: 8px;
}

.shopify-policy__container{

  max-width: none;
  margin: 0;
  padding: 0;
}

.shopify-policy__title{
  position: relative!important;
  background-color: #fff3d8;
  height: 220px;
}

.shopify-policy__title h1{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  text-align: left;
  font: normal normal bold 32px/48px Myriad Pro;
  letter-spacing: 0;
  color: #000;
  text-transform: uppercase; 
  margin: 0;
}

.shopify-policy__body{
  display: flex;
  justify-content: center;
}

.shopify-policy__body .rte{
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.article-product {
  width: 100%;
  display: flex;
  font-family: Myriad Pro;
  padding : 52px 0;
}


.product-image{
  width: 50%;   
}

.product-image img{
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.product-content{
  background: #FEC23B33;
  position : relative;
  border-radius: 8px;
  width: 50%;
  padding: 75px 26px;
}

.product-title{
  font-weight: 600;
}

.product-desc , .product-variant{
  font-weight: 300;
}

.product-price{
  color: #FEC23B;
  font-weight: 600;
}

.compare-to-price{
  font-weight: 300;
  color: #737373;
  text-decoration: line-through;
}

.product-hover-text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: #fff;
  border-radius: 50px;
  transition: .4s ease;
  cursor: pointer;
  overflow: hidden;
  max-width: 48px;
  max-height: 48px;
}

.plus-icon {
  width: 48px;
  height: 48px;
  display: block;
  transition: .4s ease;
}

.plus-icon svg {
  width: 48px;
  height: 48px;
}

.product-hover-text:hover .plus-icon{
  transform: rotate(180deg);
}


@media screen and (max-width: 992px) {
  .article-product{
    flex-direction: column;
    padding : 26px 0;
  }
  .product-content , .product-image{
    width: 100%;
  }
  .product-content{
    padding: 16px;
  }
  

}




@media screen and (min-width: 769px) {

  .icon-send{
    margin-top: 5px;
    transition: .3s ease;
  }

  button:hover .icon-send{
    transform: rotate(-26deg) translateX(5px);
  }

  .padding-y-0{
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-y-25{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .padding-y-50{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .padding-y-75{
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .margin-y-0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .margin-y-25{
    margin-top: 25px;
    /*   margin-bottom: 25px; */
  }

  .margin-y-50{
    margin-top: 50px;
    /*   margin-bottom: 50px; */
  }

  .margin-y-75{
    margin-top: 75px;
    /*   margin-bottom: 75px; */
  }

  .bg-yellow-dots {
    position: absolute;
    z-index: -1;
  }

  .dots-right-down {
    bottom: -56px;
    right: -50px;
  }
}

@media screen and (min-width: 991px) {

  .no-desktop, div.no-desktop{
    display:none;
  }

}

@media screen and (max-width: 991px) {
  .no-mobile,div li.no-mobile, div .no-mobile{
    display:none;
  }

  /*   .mobile-top-margin {
  margin-top: 10.5rem;
} */

}