* {
  outline: none !important;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Myriad Pro', sans-serif;
  color: var(--font-main-color);
    }
.container {
  display: block;
  width: 100%;
  max-width: 1246px;
  padding: 0 25px;
  margin: 0 auto;
}
.no-disp{
  display: none !important;
}
.rel {
  position: relative !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-between {
  justify-content: space-between !important;
}
.align-center{
  align-items: center;
}
.center-it {
  display: block !important;
  margin: 0 auto !important;
}
.flex-box{
  display: flex;
}
.bold{
  font-weight: 700;
}
.semibold{
  font-weight: 600;
}
.light{
  font-weight: 300;
  opacity:1;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--font-main-color);
    }
.btn {
  padding: 20px 63px 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
  border-radius: 8px;
  transition: .4s ease;
  display: block;
  width: fit-content;
}

.btn-grey{
  background-color: var(--background-grey);
    }

.btn-grey:hover{
  background-color: #CCCCCC;
}

.btn-yellow{
  background-color: var(--background-yellow);
    }

.btn-yellow:hover{
  background-color: #FEB029;
}
.accordion{
  cursor: pointer;
}
.panel{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.half-opacity{
  opacity: 50%;
}
.yellow-text{
  color: var(--text-yellow);
    }
.raw-reverse{
  flex-direction: row-reverse;
}

.fp-hover-text:hover .hover-text, .hero-hover-text:hover .hover-text{
  font-size: inherit;
}

.section-heading{
  font: normal normal bold 32px/48px Myriad Pro;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}

.w-100{
  width:100%;
}

@media screen and (min-width: 768px) {
  .no-desktop, div.no-desktop{
    display:none;
  }

}

@media screen and (max-width: 768px) {
  .no-mobile,div li.no-mobile, div .no-mobile{
    display:none;
  }

  .mobile-top-margin {
    margin-top: 10.5rem;
  }

}