.price-range-slider {
  width: 100%;
}
.price-range-slider .range-value {
  margin: 0;
}
.price-range-slider .range-value div {
  width: 100%;
  background: none;
  color: #D9D9D9;
  font-size: 16px;
  font-weight: initial;
  box-shadow: none;
  border: none;
  margin: 20px 0 20px 0;
}
.price-range-slider .range-bar {
  border: none;
  background: #D9D9D9;
  height: 8px;
  border-radius: 8px;
  width: 96%;
  margin-left: 8px;
}
.price-range-slider .range-bar .ui-slider-range {
  background: #000;
}
.price-range-slider .range-bar .ui-slider-handle {
  border: 2px solid #000;
  border-radius: 25px;
  background: #fff;
  height: 17px;
  width: 17px;
  cursor: pointer;
  top : -0.52rem;
}
.price-range-slider .range-bar .ui-slider-handle + span {
  background: #fff;
}
