.product-collection{
  flex-wrap: wrap;
  margin: 0 -0.66%;
}

.product-collection-card{
  width: 23.68%;
  margin: 0 0.66% 16px;
}

.product-collection-card img{
  width: 100%;
  height: 18.615vw;
  display: block;
}

.product-hover-text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: #fff;
  border-radius: 50px;
  transition: .4s ease;
  cursor: pointer;
  overflow: hidden;
  max-width: 48px;
  max-height: 48px;
}

.plus-icon {
  width: 48px;
  height: 48px;
  display: block;
  transition: .4s ease;
}

.plus-icon svg {
  width: 48px;
  height: 48px;
}

.hover-text {
  padding: 2px 16px 0 0;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: .8px;
  max-width: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.product-hover-text:hover .plus-icon{
  transform: rotate(225deg);
}

.product-hover-text:hover .hover-text {
  max-width: 100%;
}

.product-hover-text:hover {
  max-width: unset;
}

.porduct-collection-wrapper {
  margin-bottom: 36px;
}