.product-block-wrapper {
    margin-bottom: 136px;
}

.product-block-left, .product-block-right {
	width: 49%;
}

.product-title{
	margin: 0;
  margin-bottom: 8px;
}

.compare-to-price {
    text-decoration: line-through;
    color: var(--background-grey);
    opacity: 100% !important;
    margin-right: 24px;
}

.product-price {
    font-size: 20px;
}

.product-price-wrapper {
    margin-bottom: 12px;
}

.product-desc {
    line-height: 24px;
    margin-bottom: 26px;
}

.qty-nav {
    font-size: 32px;
    width: 52px;
    height: 52px;
    border: 2px solid;
  	cursor: pointer;
  	user-select: none;
}

.qty-minus{
	border-radius: 4px 0 0 4px;
}

.qty-plus{
	border-radius: 0 4px 4px 0;
}

.qty{
	font-size: 32px;
    width: 52px;
    height: 52px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.add-to-cart-btn {
    padding: 10px;
    display: flex;
    align-items: center;
    width: calc(100% - 176px);
    text-align: center;
    max-height: 54px;
    cursor:pointer;

}

.cont-shopping {
  	margin-top: 8px;
    width: fit-content;
    margin-left: auto;
    text-decoration: underline;
}

fieldset.product-form__input {
    border: 2px solid #FEC23B;
    border-radius: 8px;
    padding: 26px;
    margin: 0 0 26.5px 0;
    font: normal normal 300 20px/30px Myriad Pro;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.product-form__input label{
  cursor:pointer;
}

.variant-option-name{

  font: normal normal bold 16px 'Myriad Pro';
  letter-spacing: 0.8px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.product-form__input input[type=radio]:checked+label.Size {
    color: var(--text-yellow);
    font-weight: 600;
    text-decoration: underline;
}

.color-swatch {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 50%;
/*     background-color: aqua; */
  border: 2px solid #000000;
}

.modal-btn{
  display:inline-block;
  cursor:pointer;
  text-decoration: underline;
  font: normal normal 300 16px/24px Myriad Pro;
  letter-spacing: 0px;
  color: #737373;
}

/* .show {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 40px;
  margin-top: -20px;
  margin-left: -75px;
  background: #e74c3c;
  color: #fff;
  border-radius: 5px;
  border: 0;
  border-bottom: 2px solid #c0392b;
  cursor: pointer;
} */
/* .show:hover {
  background: #c0392b;
} */
/* .show:active {
  transform: scale(0.9);
} */
.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.variant-options-wrapper .mask {
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-left: -200px;
  margin-top: -150px;
  background: #bdc3c7;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
}
.variant-options-wrapper .active {
  visibility: visible;
  opacity: 1;
}
.active + .modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
