.product-collection{
  flex-wrap: wrap;
  margin: 0 -0.66%;
}

.product-collection-card{
  width: 23.68%;
  margin: 0 0.66% 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-collection-card img{
  width: 100%;
  height: 18.615vw;
  display: block;
  object-fit : cover;
}



/* .hover-text {
padding: 2px 16px 0 0;
text-transform: uppercase;
line-height: 24px;
letter-spacing: .8px;
max-width: 0;
-webkit-transition: .4s ease;
transition: .4s ease;
}
*/

/* .product-hover-text:hover .hover-text {
max-width: 100%;
} */

/* .product-hover-text:hover {
max-width: unset;
} */

.porduct-collection-wrapper {
  margin-bottom: 36px;
}

.collection-btn{
  display : none;
}

.flex-direction{
  flex-direction : column; 
}

.product-title{
  font-family : Myriad Pro;
  font-weight : bold;
}

.product-price{
  color : #FEC23B;
}

@media screen and (max-width: 768px) {
  .collection-btn{
    display : block;
    padding : 8px 0;
    box-shadow: 0 3px #33270c1a;
    border-radius: 0 0 8px 8px;
    text-align : center;
    font-family : Myriad Pro;
    font-weight : bold;
    text-transform : uppercase;
  }
  .product-img{
    border-radius: 8px 8px 0 0;

  }
}