.shop-by-category-banner-wrapper{
  margin-bottom: 52px;
}

.shop-by-category-banner {
  border: 4px solid var(--background-yellow);
    border-radius: 8px;
    }

.banner-right {
  max-width: 278px;
  /*   max-height: 278px; */
}

.banner-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-left {
  padding: 52px 52px 26px;
  width: 80%;
  background-color: var(--color-background);
    }

.banner-title.bold {
  margin-bottom: 26px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.banner-desc {
  line-height: 24px;
}

.banner-link {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 45px;
  width: fit-content;
}

.banner-link .right-black-chveron svg{
  height: 12px;
  transition: .4s ease;
}

.banner-link:hover .right-black-chveron svg{
/*   margin-left: 2px; */
  transform:  translateX(3px);
}

.banner-link:hover .right-black-chveron .a-icon-black-right-chevron{
  stroke: var(--background-yellow);
    }

.shop-by-category-banner-new.small{
  display : none;
}
.shop-by-category-banner-wrapper .dots-left-down {
  bottom: -36px;
  left: -25px;
  max-width: 100%;
}
.shop-by-category-banner-wrapper .dots-right-down {
  bottom: -36px;
  right: -25px;
  max-width: 100%;
}
.shop-by-category-banner-wrapper svg {
  width: 100%;
  height: 282px;
}

@media screen and (max-width: 768px) {
  .shop-by-category-banner{
    display : none;
  }
  .shop-by-category-banner-new.small{
    display : block;
  }
  .banner-link-new{
    margin-top : 45px;
  }
  .shop-by-category-banner-new.small img{
    width : 100%;
    object-fit : cover;
  }
  .product-collection-card{
    width : 31.68% !important;
  }
  .product-collection-card img{
  	height : 170px !important;
  }
  .banner-link-new svg{
  	height: 11px;
  }

}

@media screen and (max-width: 479px) {
  .product-collection-card{
    width : 47.68% !important;
  }
}